{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} {% block content %}

<section>
    {% if book %}
        <h1>Edit {{ book.name }}</h1>
    {% else %}
        <h1>Add a New Book</h1>
    {% endif %}
        <form method="POST" action="">
        {% csrf_token %} 
            <table>
            {% comment %} built in django method which automatically takes all form fields and puts them into a table. can also set as paragraph or ul.  {% endcomment %}
            {{ form.as_table }} 
            </table>
            <button type="submit">Submit</button>
        </form>
    <br>

    <div>
        {% if book %}
            <a href="{% url 'book_detail' book.id %}">Cancel</a>
        {% endif %}
    </div>
</section>
{% endblock %}
