{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% endblock %} 
{% block content %}

<section>
    <h1> Book List </h1>
    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <strong>
                        <a href="{% url 'book_detail' book.id %}">
                            {{ book.name }}
                        </a>
                    </strong>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You havent added any books</p>
    {% endif %}
</section>
{% endblock %}